form label {
	display:inline-block;
	padding:4px;
	width: 100px;
}
form fieldset{
	width: 495px;
}
form .input,form .select{
	margin:2px 0px;
}
form .checkbox{
	width: 80px;
display: inline-block;
}
form .checkbox label {
	width:50px;
}
.form, .index{
	width:75%;
	float:right;
}
